.sn-nav{
	&__submenu{ background: $color-background }
}

.sn-push-product{
	&__cta{
		.icon_after-external-link{
		&:after{ content: url(../../img/arrow-right-seat.svg) !important; }
		}
	}
}

.sn-filter-bar{
	&__cta {
	  &.button {
		&:before{ content: url(../../../img/setting-seat.svg) !important; }
	  }
	  &:before {
		@media #{$to-phone} { margin-right: 0.6rem !important; }
	  }
	}
}

.sn-push-products{
	.swiper-button-next:after{ content: '\e9c4'; font-family: $font-icon; left: 0 }
	.swiper-button-prev:after{ content: '\e9c2'; font-family: $font-icon; left: 0 }
}

.sn-collection-nav{
	margin-bottom: 4px; margin-top: 4px; position: relative;
	&:after{ border-bottom: 1px solid $color-border; content: ''; position: absolute; bottom: 0; left: 0; width: 100%; z-index: -1 }
	&__items{
		padding: 0; justify-content: center;
		&:after{ display: none }
	}
}

.sn-official{
	flex-direction: column-reverse;
	border-radius: 10px; background: $color-primary;
	img{ width: 102px; height: auto }
	&__text{
		font-weight: 500;
		display: flex;
		flex-flow: column;
		line-height: 1.2;
		text-transform: uppercase;
		text-align: center;
		margin-top: 0;
		font-family: $font-heading;
	}
	&__brand{
		margin-top: 2px;
	}
}

.sn-partner{ min-width: 53% }
