.sn-nav{
  $c:&;

  display: flex; color: #fff; flex-flow: column; position: overlay('fixed');
  background: $color-grey-dark; z-index: 9999; margin-top: 0; font-size: $font-size-body; box-shadow: $box-shadow;

  @media #{$to-phone}{ top: 0; left: 0!important; bottom:0; right:0!important }

  .site-wrap{ position: relative; height: 100% }

  &__inner{
    padding: $space-s #{$space-s*4}; padding-bottom: $space-xl; display: flex; justify-content: space-between;

    @media #{$to-phone}{ padding: $space-s 0.6rem $space-s 2.9rem; flex-direction: column }
  }

  &__title{
    font-size: $font-size-m; font-weight: bold; margin-bottom: $space; margin-top: #{$space-s*2}; transition: allow(transform opacity);

    .has-nav-sub &--main{ transform: translateX(-$space-s*2); opacity: 0 }

    @media #{$to-phone}{ margin-top: $space }

    &--side{
      @media #{$to-phone}{ margin-top: $space }
    }
  }

  &__items{
    flex: 1 1 auto;
    &-container{
      max-width: 32rem;
      @media #{$to-phone}{ max-width: none }
      &--level0{
        width: 70%;
        @media #{$to-phone}{ width: 100% }
      }
      &--level1{
        width: 50%; position: relative; padding-right:#{$space-s*2};
        @media #{$to-phone}{ width: 100%; padding-right: 0 }
      }
    }
  }

  &__sidebar{
    padding-left: $space-l; border-left: 1px solid; margin-top: #{$space-s*2};  position: relative; z-index: 999; transition: allow(color opacity);
    flex-shrink: 0;
    @media #{$to-phone}{ padding-left: 0; border-left: none; }
    .has-nav-sub &{ color: $color-body-text }
    .has-nav-sub-child &{
      @media #{"screen and (min-width: "+$screen-tablet+") and (max-width: "+($screen-medium)+")"} {
        opacity: 0; pointer-events: none;
      }
      @media #{$to-phone}{ opacity: 0; pointer-events: none }
    }
    #{$c}__title{ font-size: $font-size-s; margin-top: 0;
      @media #{$to-phone}{ display: none }
    }
    #{$c}__link{
      font-size: $font-size-xs; transition: allow(opacity);
      &:hover{ opacity: 0.7 }
    }
    .sn-nav__item{
      @media #{$to-phone}{ transition: allow(margin) }
      .has-nav-sub &{
        @media #{$to-phone}{ margin-left: $space-xs }
      }
    }
  }
  &__close{
    margin-top: $space-xs; display: inline-flex; cursor: pointer; padding-top: 3px; margin-left: 1rem; font-size: $font-size-s;
    transition: allow(color); align-items: center;
    &:before{ margin-right: 1rem }
    &:hover{ color: $color-primary }
    span{
      transition: allow(opacity); display: inline-block;
      .has-nav-sub &{ opacity: 0 }
    }

    @media #{$to-phone}{
      margin-left: -1rem;
      &:before{ margin-right: 2rem }
    }
  }
  &__back{
    margin-bottom: #{$space-s*2}; display: inline-block; cursor: pointer; margin-top: 3px; font-size: $font-size-s;
    transition: allow(color); border-bottom: 1px solid; padding-bottom: 3px;
    &:before{ margin-right: 1rem; font-size: inherit }
    &:hover{ color: $color-grey-light }
  }
  &__link{
    padding: $space 0; text-decoration: none; cursor: pointer; display: block; position: relative; transition: allow(color opacity);
    &.has-child{
      @extend %icon, .icon-chevron-right;
      &:before{ position: absolute; right: 0; display: inline-block; font-size: $font-size-s }
    }
    &--level1{
      transition: allow(transform opacity color);
      &:hover, &.is-active{ color: $color-primary }
      .has-nav-sub &{ transform: translateX(-$space-s*2); opacity: 0 }
    }
    &--level2{
      &:before{
        @media #{$to-phone}{ transform: rotate(90deg)}
      }
    }
    &--level2, &--level3{
      &:hover{ opacity: 0.7 }
      &.is-active{ color: $color-primary; opacity: 1 }
      &:before{ display: none }
      @media #{$to-phone}{ font-size: 1.8rem; }
    }
  }
  &__submenu{
    position: absolute; left: 8.4rem; right: 0; top: 0; background: #fff; padding: $space-xs #{$space-s*4};
    z-index: 99; color: $color-body-text; bottom: 0;
    @media #{$to-phone}{ left: 4rem; padding: $space-xs 2.7rem }
    &--level2{
      left:100%; padding: 0; padding-left:#{$space-s*2}; top: 0; width: 100%;
      @media #{$to-phone}{
        position: static; padding-left:$space-s;
        &.fade-leave-active{ display: none }
      }
    }
  }

  @media print { display:none;}
}