@font-face {
  font-family: $font-icon;
  src: url('../fonts/#{$font-icon}.woff2?54336552') format('woff2'),
  url('../fonts/#{$font-icon}.woff?54336552') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]:before, [class*=" icon-"]:before, %icon:before, %icon_after:after, [class^="icon_after-"]:after, [class*=" icon_after-"]:after {
  font-family: $font-icon;
  font-style: normal;
  font-weight: normal;
  font-size: $font-size-icon;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fallback-text{ display: none }

$icons :
acceleration "\e900",
accessories "\e901",
air-conditioning "\e902",
alert "\e903",
ambient-light "\e904",
app-connect "\e905",
archive "\e906",
attachment "\e907",
authent_plug--charg "\e908",
authent_qr "\e909",
authent_rfid "\e90a",
authent_touch "\e90b",
award-winner-premium "\e90c",
bin "\e90d",
bluetooth "\e90e",
brochure "\e90f",
calc "\e910",
calendar "\e911",
camera-scan "\e912",
car-pickup-service "\e913",
car-wheel "\e914",
certified-repair "\e915",
certified-retailer "\e916",
challenge "\e917",
charging "\e918",
charging-tarif-overview "\e919",
chat "\e91a",
chat "\e91b",
clock "\e91c",
compass "\e91d",
construction "\e91e",
consumption-fueling "\e91f",
contact "\e920",
contact-dealer "\e921",
craft "\e922",
customers-center "\e923",
data-expired "\e924",
data-filled "\e925",
data-input "\e926",
data-plug "\e927",
data-search "\e928",
data-time-extension "\e929",
defog-defrost "\e92a",
destination "\e92b",
direction "\e92c",
discount "\e92d",
discovery "\e92e",
download "\e92f",
eco "\e930",
edit "\e931",
efficiency "\e932",
electric-cars-service "\e933",
electricity "\e934",
emergency "\e935",
emission "\e936",
energy-battery "\e937",
engine "\e938",
entertainment "\e939",
express-service "\e93a",
exterior "\e93b",
external-link "\e93c",
faq "\e93d",
fast-forward "\e93e",
fax "\e93f",
gallery "\e940",
gas "\e941",
gte "\e942",
heart "\e943",
home "\e944",
hybrid-not-final "\e945",
info "\e946",
input-hide "\e947",
input-show "\e948",
interior "\e949",
internet "\e94a",
invitation "\e94b",
key "\e94c",
keyboard "\e94d",
key-card "\e94e",
key-digital "\e94f",
legal-terms-and-conditions "\e950",
licence-plate "\e951",
light-assist "\e952",
loading-volume "\e953",
local-business "\e954",
locate "\e955",
lock "\e956",
lock-open "\e957",
login-Topbar "\e958",
mail "\e959",
mail-resend "\e95a",
manual "\e95b",
map "\e95c",
media "\e95d",
mobile "\e95e",
MOT "\e95f",
motability "\e960",
navigate "\e961",
night-service "\e962",
offers "\e963",
office "\e964",
logistic "\e965",
oil-level "\e966",
oil-level-warning "\e967",
oil-temperature "\e968",
on-call-duty "\e969",
open-sat "\e96a",
paint-shop "\e96b",
paragraph "\e96c",
park-heater "\e96d",
parking "\e96e",
parking-garage "\e96f",
parking-route "\e970",
payload "\e971",
payment "\e972",
payment-cash "\e973",
payment-charging-card "\e974",
payment-creditcard "\e975",
performance "\e976",
petrol "\e977",
phone "\e978",
pin "\e979",
play "\e97a",
plug-CCS "\e97b",
plug-ChaDeMo "\e97c",
plug--charge "\e97d",
plug-generic "\e97e",
plug-SchuKo "\e97f",
plug-type1 "\e980",
plug-type2 "\e981",
power "\e982",
powertrain "\e983",
precise-lane-navigation "\e984",
present "\e985",
printer "\e986",
privacy "\e987",
profile "\e988",
profile-register "\e989",
public-service "\e98a",
qualified-workshop "\e98b",
questionnaire "\e98c",
radio "\e98d",
range "\e98e",
rewind "\e98f",
roadside-assistance "\e990",
route "\e991",
rss "\e992",
safety "\e993",
seat "\e994",
seat-air "\e995",
selected "\e996",
service "\e997",
service-bell "\e998",
settings "\e999",
share-android "\e99a",
share-iOS "\e99b",
shopping-cart "\e99c",
skill "\e99d",
skip-backward "\e99e",
skip-forward "\e99f",
software-download "\e9a0",
sound "\e9a1",
star-outline "\e9a2",
statistic "\e9a3",
stop "\e9a4",
taxi-dealer "\e9a5",
temperature "\e9a6",
test-drive "\e9a7",
thumbsdown "\e9a8",
thumbsup "\e9a9",
timer "\e9aa",
transcript-download "\e9ab",
transmission-automatic "\e9ac",
transmission-manual "\e9ad",
trip "\e9ae",
unselected "\e9af",
upload "\e9b0",
video-chat "\e9b1",
virtual-reality "\e9b2",
voice-message "\e9b3",
volume-maximum "\e9b4",
volume-medium "\e9b5",
volume-mute "\e9b6",
walking "\e9b7",
wallbox "\e9b8",
we-assist "\e9b9",
weather-sun "\e9ba",
we-charge "\e9bb",
we-deliver "\e9bc",
we-experience "\e9bd",
we-park "\e9be",
windscreen-wash "\e9bf",
wlan-hotspot "\e9c0",
arrow-down "\e9c1",
arrow-left "\e9c2",
arrow-left-aligned "\e9c3",
arrow-right "\e9c4",
arrow-up "\e9c5",
chevron-left-aligned "\e9c6",
chevron-right-aligned "\e9c7",
chevron-down "\e9c8",
chevron-left "\e9c9",
chevron-left-aligned "\e9ca",
chevron-right "\e9cb",
chevron-right-aligned "\e9cc",
chevron-up "\e9cd",
add "\e9ce",
arrow-slider "\e9cf",
checkbox-checked "\e9d0",
checkbox-unchecked "\e9d1",
checkmark "\e9d2",
checkmark "\e9d3",
clear "\e9d4",
close "\e9d5",
close-left-aligned "\e9d6",
close-circle "\e9d7",
drag-indicator "\e9d8",
export "\e9d9",
filter "\e9da",
find-a-car "\e9db",
fullscreen-enter "\e9dc",
fullscreen-exit "\e9dd",
height "\e9de",
layer-collapse "\e9df",
layer-expand "\e9e0",
list "\e9e1",
login "\e9e2",
logout "\e9e3",
magnifier "\e9e4",
magnifier-minus "\e9e5",
magnifier-plus "\e9e6",
menu "\e9e7",
menu "\e9e8",
more "\e9e9",
morebar "\e9ea",
pause "\e9eb",
radio-button-inselected "\e9ec",
radio-button-selected "\e9ed",
radio-button-selected-for-development "\e9ee",
reload "\e9ef",
remove "\e9f0",
repeat "\e9f1",
save "\e9f2",
secret-tip "\e9f3",
shuffle "\e9f4",
size "\e9f5",
sorting "\e9f6",
switch-position "\e9f7",
sync "\e9f8",
update-refresh "\e9f9",
back "\e9fa",
business-customers-commercial "\e9fb",
business-customers-private "\e9fc",
california-specialist "\e9fd",
car-documents "\e9fe",
car-insurance "\e9ff",
car-plus "\ea00",
car-settings "\ea01",
carwash "\ea02",
configurator-commercial "\ea03",
configurator-private "\ea04",
drivers-assistance "\ea05",
electric-cars "\ea06",
fleet-service-commercial "\ea07",
fleet-service-private "\ea08",
garage "\ea09",
new-car-commercial "\ea0a",
new-car-private "\ea0b",
pre-heater "\ea0c",
public-transport "\ea0d",
routes-history "\ea0e",
send_to_car "\ea0f",
stock-locator-commercial "\ea10",
stock-locator-private "\ea11",
used-car-commercial "\ea12",
used-car-private "\ea13",
vehicle-amarok "\ea14",
vehicle-caddy "\ea15",
vehicle-crafter "\ea16",
vehicle-hight "\ea17",
vehicle-transporter "\ea18",
view-360 "\ea19",
we-upgrade "\ea1a",
wheel-to-wheel "\ea1b";


@each $icon in $icons {

  $id      : nth($icon, 1);
  $content : nth($icon, 2);

  %icon-#{$id}:before, .icon-#{$id}:before, .icon_after-#{$id}:after, %icon_after-#{$id}:after{ content: $content }
}
