{% include '@SyliusAdmin/Customer/_info.html.twig' %}

<div class="ui fluid card" id="service_center">
    <div class="content">
        <a class="header sylius-customer-name">Service center</a>
        <div class="meta">
            <span class="date">#{{ order.service_center_id }}</span>
        </div>
    </div>
</div>
